body {
	background-image: url("images/background.png");
}
.cover img {
	width: 100px;
	height: 150px;
}
h1 {
	size: 24pt;
	font-family: "Times New Roman",Times,serif;
	text-shadow: 3px 3px #999999;
	text-align: center;
}