body {
	background-image: url("images/background.png");
}
.sidebar img {
	width: 100px;
	height: 150px;
}
h1 {
	size: 24pt;
	font-family: "Times New Roman",Times,serif;
	text-shadow: 3px 3px #999999;
	text-align: center;
}

.container {
	display:flex;
	flex-direction: column;
}

.container div{
	border: 2px #cccccc solid;
	background: white;
	border-radius: 12px;
	padding: 16px;
}

.quotes {
	font-size: 12pt;
}