body {
	background-image: url("images/background.png");
	padding: 0px;
	margin: 0px;
	font-family: arial;
	font-size: 12pt;
}

.sve {
	display: flex;
	width: 55%;
	margin: auto;
}

.sidebar {
	overflow-wrap: break-word;
	max-width: 300px;
	background: #A2B964;
}

.sidebar img {
	width: 100%;
	height: auto;
	
}

h1 {
	size: 24pt;
	font-family: "Times New Roman",Times,serif;
	text-shadow: 3px 3px #999999;
	text-align: center;
}

.container {
	background: #D9E1D2;
	min-width: 300px;
	padding: 5%; 
	display:flex;
	flex-direction: column;
}

.container div{
	align-self: center;
	width: 100%;
	border: 2px #cccccc solid;
	background: #FFFFFF;
	border-radius: 12px;
	padding: 16px;
}

.container img{
	float: left;
	padding: 5px;
	
}

.quotes {
	font-size: 13pt;
	font-family: "Times New Roman",Times,serif;
}

#rating {
	background-image: url("images/rbg.png");
	width: 100%;
	display: flex;
	align-items: center;
}

#futer {
	width: 55%;
	background: #A2B964;
	margin:auto;
	text-align: center;
}

.sidebar ul {
	margin-left: 15;
	padding: 0px;
	font-weight: bold;
}

.sidebar dt {
	margin-right: 5px;
	margin-left: 15px;
	font-weight: bold;
}

.sidebar dd {
	margin-bottom: 15px;
	margin-right: 5px;
}

#w3c {
	position: absolute;
	right: 0px;
}
